body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    position: relative;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
}

p {
    line-height: 1.6;
    color: #495057;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon {
    font-size: 24px;
    margin-right: 5px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.floating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.download-link {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #808080; /* Grey color on hover */
    color: #fff;
    cursor: pointer; /* Add pointer cursor on hover */
}

/* Add style to change the entire body background on download link hover */
.download-link:hover ~ body {
    background-color: #808080; /* Grey color on download link hover */
}
